* {
    
    margin: 0;
    padding: 0;
}
html {
   
    width: 100%;
    min-height: 100vh;
 
}
body {

    width: 100%;
    min-height: 100vh; 
}
.color-blue
{
background-color:SteelBlue;
}

.color-white
{
color:white;
}

.disBlock
{
display:block;
}

li
{
    font-size: 18px;
}

.navbar
{
margin-bottom:0px !important;
    border-radius: 0px !important;
}

.navbar-inverse
{
border-color:SteelBlue !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}
.fixedBar
{
bottom:0;
   min-height:900px;
   width:200px; 
   top:0;
   left:0;

   background:#232423; 
}

.square
{
	width: 150px;
	height: 90px;
	
}

.col-red
{
background-color:red;
}

.col-blue
{
background-color:cyan;
}

.col-yellow
{
background-color:DarkOrange;
}

.col-green
{
background-color:Lime;
}

.col-darkGreen
{
background-color:ForestGreen;
}

.cntrPnl
{
    margin-top: 10px;
    margin-left: 5px;
}

.mar-top-10
{
 margin-top: 10px;
}

  .mar-top-15
{
 margin-top: 15px;
}

.mar-right-10
{
margin-right:10px;
}

.mar-left-35
{
margin-left:35px;
}

.fs15
{
font-size:11px;
}

.fs12
{
font-size:12px;
}
.square-data
{
    position: absolute;
    bottom: 25px;
    left: 18px;
}

.fs-20
{
font-size:20px;
}

.fs-30
{
font-size:30px;
}

.badge-style

{
 position: absolute;
    top: 5px;
right: 0px
}

.sidebar-nav {
    
    top: 0;
   
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
}

.form-control
{
width:98% !important;
background-color: darkslategrey !important;
}
ul>li>a
{
color:white
}

.col-darkGray
{
color:darkslategray;
}
.sidebar-nav li a:hover
{
text-decoration:none;
	color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a
{
display:block;
}



.sidebar-nav li a:focus
{
text-decoration:none;
color: #fff;
background: rgba(255,255,255,0.2);
}



.line
{
border:1px solid blue;
}

.boxed
{
border-top:3px solid CornflowerBlue;

}

.barCol 
{
border-top:3px solid CornflowerBlue ;
}

.lineCol
{
border-top:3px solid green ;
}

.circle:before {
  content: ' \25CF';
color:darkGreen;
 
}

#areaChart
{
height:290px !important
}

.moreInfo
{
    position: absolute;
    top: 70px;
    right: 55px;
color:white;
text-decoration:none;
cursor:pointer;
}

a.moreInfo
{
text-decoration:none;
}
