<div class="container">
<div class="row mar-top-10">
  <div class="col-sm-3">
      <input type="text" class="form-control" [(ngModel)]="id"/>
  </div>
<div class="col-sm-3">
  <button type="button" class="btn btn-default" (click)="deleteTable()">Submit</button>
</div>
</div>
  <div class="row mar-top-10">
<div class="col-sm-6" *ngIf="table1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-6" *ngIf="table2">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>jatin</td>
        <td>khurana</td>
        <td>jatin@example.com</td>
      </tr>
      <tr>
        <td>venkat</td>
        <td>khurana</td>
        <td>venkat@example.com</td>
      </tr>
      <tr>
        <td>kamesh</td>
        <td>sharma</td>
        <td>kamesh@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
</div>


<div class="row mar-top-10">
<div class="col-sm-6" *ngIf="table3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Megha</td>
        <td>Doe</td>
        <td>megha@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>jackson</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>brad</td>
        <td>sharma</td>
        <td>brad@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-6" *ngIf="table4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>william</td>
        <td>johns</td>
        <td>william@example.com</td>
      </tr>
      <tr>
        <td>Parveen</td>
        <td>Mor</td>
        <td>parveen@example.com</td>
      </tr>
      <tr>
        <td>allison</td>
        <td>Dooley</td>
        <td>allison@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

</div>



<div class="row">

  <div class="col-sm-6" *ngIf="table5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Akash</td>
          <td>aggarwal</td>
          <td>akash@example.com</td>
        </tr>
        <tr>
          <td>sneha</td>
          <td>khurana</td>
          <td>sneha@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
    
  </div>
</div>
</div>