.delete{
    margin-top: 20px;
}

.mar-l-10{
    margin-left: 10px;
}

.mar-top-10{
    margin-top: 10px;
}
.text-success{
    background-color:#008000;
    height: 35px;
    /* margin-left: 100px; */
    /* padding: 20px; */
}
.text-primary{
    background-color:#000000 !important;
}

table {
    border-collapse: separate;
    border-spacing: 4px;
  }



h3{
    padding-left: 140px;
    border: 1px solid rgb(255, 0, 0);
}

h2{
    border: 5px solid blue;
    padding-left: 625px;
}

  