
	 <select  (change)="onItemChange($event,country)">
	  <ng-container *ngIf = "statesList ==undefined || statesList==''">
   <option  [value]="country.key" *ngFor="let country of countries"  >{{country.value}}</option> 
   </ng-container>
   
    <ng-container *ngIf = "statesList !== undefined ||states !== '' ">
   <option [value]="state.key" *ngFor="let state of statesList">{{state.value}}</option>
   </ng-container> 
   
   
    <ng-container *ngIf = "(statesList == undefined ||statesList == '')&&(countries == undefined ||countries == '')">
   <option [value]="city" *ngFor="let city of cities">{{city}}</option>
   </ng-container> 
   
 </select>
 